@font-face
{
    font-family: 'Quando';
    src: url('Vue/quando/Quando-Regular.ttf') format('truetype');
}

body {
	background-image: url("../images/BLUMYS.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	margin: auto;
	background-position: center;
	font-family: Quando, sans-serif;
	min-height:100vh; /* 1 */
	display:flex; /* 2 */
	flex-direction:column; /* 3 */
	/*height: 100%;
	width: 100%;*/

}

#page
{
	flex-grow: 1;
}