.centre
{
	position:absolute;
	right:48vw;
	padding-bottom:2vw;;
}
.bande
{
	height:3vw;
}

td
{
	border:thin solid transparent;
}


.case
{
	background-color:#9998b2;
	padding:10px;
	margin:10px;
	border-radius:6px;
    width: 150px;
    height: 100px;
    font-size: 14px;

}

span
{
    text-align: center;
}



/*couleur de la marge en dessous du bouton capteur*/
 .luminosite
{
	position: relative;
	background-color: #82354f;
	left:0%; 
}

/*carre habitation*/
.A
{

	background-color: rgb(4,43,123);
	position: relative;
	margin-right:2vw;
	color:white;
	border:100vw;
	text-align:center;
	padding-top:1vw;
	padding-bottom:1vw;
	
	width:9%;
	border-color: rgb(0,0,0);
	

}
/*carre capteur actionneurs*/
.B
{
background-color: rgb(4,43,123);
	position: relative;
	
	color:white;
	border:100vw;
	text-align:center;
	padding: 0.5vw;
	padding-top: 0.5vw;
	margin-right: 2vw;
	width:9%;
	border-color: rgb(0,0,0);

}


#tonDiv1{


background-color:#6a1b3d;
border:none;

}


.tableau{
 border-collapse: collapse;
    flex-wrap: wrap;
}



/*bouton capteurs*/
#bouton_tonDiv1{
	position: relative;
	left:0%;
	border:none;
	color: white;
	background-color: #2f0c1b;
	border-radius: 50px;
	height: 10vw;
}

/*bouton luminosit�*/
#bouton_tonDiv2{
	position: relative;
	left:0%;
	border:none;
	color: white;
	background-color: #471229;

}
/*couleur pour la bande des boutons*/
.couleur1
{

	background-color: #471229 ;
	margin-left: 3%;
}

/*bouton temp�rature*/
#bouton_tonDiv3{
	position: relative;
	left: 0%;
	border:none;
	color: white;
	background-color: #471229 ;

}

/*bouton mouvement*/
#bouton_tonDiv4{
	position: relative;
	left: 0%;
	border:none;
	color: white;
	background-color: #471229 ;

}
#bouton{

	right:100%;
	border-radius: 5%;
	border:none;
	color: white;
	background-color: #2f0c1b;
	height:3vw;

}
#bouton2{
	margin-right:100%;
	border-radius: 5%;
	border-style:solid;
	border-color: white;
	color: white;
	background-color: #471229 ;

}
#bouton3{
	margin-right:100%;
	border-radius: 5%;
	border-style:solid;
	border-color: white;
	color: white;
	background-color: #471229 ;

}
#bouton4{
	margin-right:100%;
	border-radius: 5%;
	border-style:solid;
	border-color: white;
	color: white;
	background-color: #471229 ;

}
.menu
{
	background-color: #2f0c1b;
}

.menu2
{
	
	background-color: #2f0c1b;


}

#global
{
    display: flex;
    justify-content: center;
}

#grandmenu{
	margin-right:2vw;
	margin-left:2vw;
    width: 80vw;

}
.entete
{
	background: none;
	display :flex;
	justify-content :center;
	margin-bottom:2vw;
	
	
}



#save{
	float: right;

}

/*personnalisation de l'en-tête actif*/
a.styleEntete
{
	text-decoration: none;

}

button.active
{
	border: 6px solid white;
}

.supprimer
{
	border-radius: 20px;
	background: red;
    box-shadow: none;
    border: none;
    position: relative;
    left: 150px;
    bottom: 15px;
}

.boutonSupprimer
{
    text-decoration: none;
    font-weight: bold;
    color: white;
}

#fenetreModale, #fenetreModale2, #fenetreModale3
{
	display: none;
	position: fixed;
	top:0; right:0; bottom:0; left:0;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 1000;
}

#fenetreModale:target, #fenetreModale2:target, #fenetreModale3:target
{
	display: block;
}

.popup-block
{
	background: #fff;
	padding: 20px;
	border: 20px solid #ddd;
	position: relative;
	margin: 10% auto;
	width: 40%;
	box-shadow: 0px 0px 20px #000;
	border-radius: 10px;
}

.annulerSupprimer
{
    display: block;
    display: flex;
    justify-content: center;
}

.boutonSup
{
    margin-right: 80px;
    height: 30px;
}

.annuler
{
    height: 30px;
}

.styleCapteur
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
bottom: 8px;
}
