


td
{
	border:thin solid transparent;
}


.case
{
	background-color:#9998b2;
	padding:10px;
	margin:10px;
	border-radius:6px;
}




/*couleur de la marge en dessous du bouton capteur*/
 .luminosite
{
	position: relative;
	background-color: #82354f;
	left:0%; 
}

/*carre habitation*/
.A
{

	background-color: rgb(4,43,123);
	position: relative;
	margin-right:2vw;
	color:white;
	border:100vw;
	text-align:center;
	padding-top:1vw;
	padding-bottom:1vw;
	
	width:9%;
	border-color: rgb(0,0,0);
	

}
/*carre capteur actionneurs*/
.B
{
background-color: rgb(4,43,123);
	position: relative;
	
	color:white;
	border:100vw;
	text-align:center;
	padding: 0.5vw;
	padding-top: 0.5vw;
	margin-right: 2vw;
	width:9%;
	border-color: rgb(0,0,0);

}

footer
{
	position: relative;
	left: 40%;
	bottom:0%;
}



#tonDiv1{


background-color:#6a1b3d;
border:none;

}


.tableau{
 border-collapse: collapse; 
}



/*bouton capteurs*/
#bouton_tonDiv1{
	position: relative;
	left:0%;
	border:none;
	color: white;
	background-color: #2f0c1b;
	border-radius: 50px;

}

/*bouton luminosit�*/
#bouton_tonDiv2{
	position: relative;
	left:0%;
	border:none;
	color: white;
	background-color: #471229;

}
/*couleur pour la bande des boutons*/
.couleur1
{

	background-color: #471229 ;
	margin-left: 3%;
}

/*bouton temp�rature*/
#bouton_tonDiv3{
	position: relative;
	left: 0%;
	border:none;
	color: white;
	background-color: #471229 ;

}

/*bouton mouvement*/
#bouton_tonDiv4{
	position: relative;
	left: 0%;
	border:none;
	color: white;
	background-color: #471229 ;

}
#bouton{

	right:100%;
	border-radius: 5%;
	border-style:solid;
	border-color: white;
	color: white;
	background-color: #2f0c1b;

}
#bouton2{
	margin-right:100%;
	border-radius: 5%;
	border-style:solid;
	border-color: white;
	color: white;
	background-color: #471229 ;

}
#bouton3{
	margin-right:100%;
	border-radius: 5%;
	border-style:solid;
	border-color: white;
	color: white;
	background-color: #471229 ;

}
#bouton4{
	margin-right:100%;
	border-radius: 5%;
	border-style:solid;
	border-color: white;
	color: white;
	background-color: #471229 ;

}
.menu
{
	
	background-color: #2f0c1b;

}

.menu2
{
	
	background-color: #2f0c1b;

}

#grandmenu{
	margin-right:2vw;
	margin-left:2vw;
}
.entete
{
	background: none;
	display :flex;
	justify-content :center;
	margin-bottom:2vw;
	
	
}


/*Positionnement du point d'inerrogation d'aide � c�t� des champs*/
.interrogation
{
	width:0.7em;
	height:0.7em;
	position: relative;
	left: 10%;
}

/*Personnalisation du bloc Ajouter un capteur*/
.ajout
{
	background-color:#6a1b3d;
	margin-right: 10px;
	margin-left: 3px;
	padding-left:25px;
	padding-right: 30px;
	padding-top:20px;
	border-radius:10px;
	width:85%;
	height:600px;
	color:white;
	font-family:Quando;
	font-size:1em;
}

/*Personnalisation du titre Ajouter un capteur*/
h1
{
	font-size:2em;
	align-items: center;
}

/*Personnalisation du champ Nom du capteur*/
#nom_du_capteur
{
	border-radius:5vw;
	width:50%;
	height:25vw;
	position: relative;
	left: 9%;
}

.nom
{
	position: relative;
	left: 9%;
	font-family: quando;
}

/*Personnalisation du champ Num�ro de s�rie*/
#numero_de_serie
{
	border-radius:5px;
	width:50%;
	height:20px;
	position: relative;
	left: 9%;
}

/*Personnalisation du champ Seuil*/
#seuil
{
	border-radius:5px;
	width:40%;
	height:20px;
	position: relative;
	left: 9%;
}

/*Personnalisation du champ Pi�ce*/
#piece
{
	border-radius:5px;
	width:40%;
	height:25px;
	position: relative;
	left: 9%;
}

/*Personnalisation du champ Description*/
#description
{
	border-radius:5px;
	width:80%;
	height:150px;
	position: relative;
	left: 9%;
}

/*Personnalisation des boutons envoyer et effacer*/
.bouton
{
	border-radius:5px;
	width:30%;
	height:27px;
	background-color:#635c8e;
	color:white;
	background: -webkit-linear-gradient(left, #fedfdd, #625c8e, #625c8e, #fedfdd);
	box-shadow:none;
	position: relative;
	left: 20%;
}

#save{
	float: right;

}











/*couleur de la marge en dessous du bouton capteur*/
 .luminosite
{
	position: relative;
	background-color: #82354f;
	left:0%; 
}

/*carre habitation*/
.A
{

	background-color: rgb(4,43,123);
	position: relative;
	margin-right:2vw;
	color:white;
	border:100vw;
	text-align:center;
	padding-top:1vw;
	padding-bottom:1vw;
	
	width:9%;
	border-color: rgb(0,0,0);
	

}
/*carre capteur actionneurs*/
.B
{
background-color: rgb(4,43,123);
	position: relative;
	color:white;
	border:100vw;
	text-align:center;
	padding: 0.5vw;
	padding-top: 0.5vw;
	margin-right: 2vw;
	width:9%;
	border-color: rgb(0,0,0);

}

.styleEntete
{
	text-decoration: none;
}

button.active
{
	border: 6px solid #6a1b3d;
}

footer
{
	position: relative;
	left: 40%;
	bottom:0%;
}



#tonDiv1{


background-color:#6a1b3d;
border:none;

}


.tableau{
 border-collapse: collapse; 
}



/*bouton capteurs*/
#bouton_tonDiv1{
	position: relative;
	left:0%;
	border:none;
	color: white;
	background-color: #2f0c1b;
	border-radius: 50px;

}

/*bouton luminosit�*/
#bouton_tonDiv2{
	position: relative;
	left:0%;
	border:none;
	color: white;
	background-color: #471229;

}
/*couleur pour la bande des boutons*/
.couleur1
{

	background-color: #471229 ;
	margin-left: 3%;
}

/*bouton temp�rature*/
#bouton_tonDiv3{
	position: relative;
	left: 0%;
	border:none;
	color: white;
	background-color: #471229 ;

}

/*bouton mouvement*/
#bouton_tonDiv4{
	position: relative;
	left: 0%;
	border:none;
	color: white;
	background-color: #471229 ;

}
#bouton{

	right:100%;
	border-radius: 5%;
	border-style:solid;
	border-color: white;
	color: white;
	background-color: #2f0c1b;

}
#bouton2{
	margin-right:100%;
	border-radius: 5%;
	border-style:solid;
	border-color: white;
	color: white;
	background-color: #471229 ;

}
#bouton3{
	margin-right:100%;
	border-radius: 5%;
	border-style:solid;
	border-color: white;
	color: white;
	background-color: #471229 ;

}
#bouton4{
	margin-right:100%;
	border-radius: 5%;
	border-style:solid;
	border-color: white;
	color: white;
	background-color: #471229 ;

}
.menu
{
	
	background-color: #2f0c1b;

}

.menu2
{
	
	background-color: #2f0c1b;

}

#grandmenu{
	margin-right:2vw;
	margin-left:2vw;
}
.entete
{
	background: none;
	display :flex;
	justify-content :center;
	margin-bottom:2vw;
	
	
}


/*Positionnement du point d'inerrogation d'aide � c�t� des champs*/
.interrogation
{
	width:0.7em;
	height:0.7em;
	position: relative;
	left: 10%;
}

/*Personnalisation du bloc Ajouter un capteur*/
.ajout
{
	background-color:#6a1b3d;
	margin-right: 10px;
	margin-left: 3px;
	padding-left:25px;
	padding-right: 30px;
	padding-top:20px;
	border-radius:10px;
	width:85%;
	height:600px;
	color:white;
	font-family:Quando;
	font-size:1em;
}

/*Personnalisation du titre Ajouter un capteur*/
h1
{
	font-size:2em;
	align-items: center;
}

/*Personnalisation du champ Nom du capteur*/
#nom_du_capteur
{
	border-radius:5vw;
	width:50%;
	height:25vw;
	position: relative;
	left: 9%;
}

.nom
{
	position: relative;
	left: 9%;
	font-family: quando;
}

/*Personnalisation du champ Num�ro de s�rie*/
#numero_de_serie
{
	border-radius:5px;
	width:50%;
	height:20px;
	position: relative;
	left: 9%;
}

/*Personnalisation du champ Seuil*/
#seuil
{
	border-radius:5px;
	width:40%;
	height:20px;
	position: relative;
	left: 9%;
}

/*Personnalisation du champ Pi�ce*/
#piece
{
	border-radius:5px;
	width:40%;
	height:25px;
	position: relative;
	left: 9%;
}

/*Personnalisation du champ Description*/
#description
{
	border-radius:5px;
	width:80%;
	height:150px;
	position: relative;
	left: 9%;
}

/*Personnalisation des boutons envoyer et effacer*/
.bouton
{
	border-radius:5px;
	width:30%;
	height:27px;
	background-color:#635c8e;
	color:white;
	background: -webkit-linear-gradient(left, #fedfdd, #625c8e, #625c8e, #fedfdd);
	box-shadow:none;
	position: relative;
	left: 20%;
}

#save{
	float: right;

}
>>>>>>> fef29c5aef269e173b14f0dcbcd3bb034c647572
