@font-face
{
    font-family: 'Quando';
    src: url('../quando/Quando-Regular.ttf');
}

p {

    color: white;
    font-family: Quando;
    text-align: center;
}

.footer {
    border: 3px solid whitesmoke;
    border-radius: 25px 25px 0 0;
    border-right: none;

    border-left: none;
    background-color: #585c78;
    font-size: 12px;
    color: white;
    font-family: Quando;
    text-align: center;
}


