h1
{
    text-align:center;
    color:#2f0c1b;
}

h2
{
    color:white;
    text-align: center;
}

#cadre
{

    background-color: #6a1b3d;
    margin:auto;
    padding : 2em;
    border-radius:5px;
    color:white;
    width: 30em;

}

table
{
    margin:auto;

}

a{
    text-decoration:none;
    color:#2f0c1b;
}

tr
{
    display:flex;
    justify-content: space-between;
    background-color:#917e86;
    padding:10px;
    border-radius: 5px;
    border: solid 1px midnightblue;
    text-align:left;
    width:40em;


}





.bouton
{
    border-radius:5px;
    height:27px;
    background-color:#635c8e;
    color:white;
    background: -webkit-linear-gradient(left, #fedfdd, #625c8e, #625c8e, #fedfdd);
    box-shadow:none;
    font-family: Quando, sans-serif;

}

#messageErreur
{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    color: red;
    margin-top: 5%;
}