
h1
{
    text-align:center;
}


.bloc
{
    color:white;
	opacity: 0.8;
    position: relative;
    text-align:center;
    background: #6a1b3d;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 20px;
    margin:auto;
    border-style: none;
    padding: 35px 35px 35px 35px;

}

table
{
    color:white;
}

.valider {
    border-radius: 5px;
    border-style: none;
    background: -webkit-linear-gradient(left, #fedfdd, #625c8e, #625c8e, #fedfdd);
    font-family: Quando;
    color: white;
    font-weight: bold;
    min-width: 100px;
    min-height: 30px;
    text-color: white;
}

#nonNum, #nonPostal {
    font-family:quando;
    font-weight:bold;
    color:red;
    text-align:center;
    font-size:0.8em;
}
