.bloc{
	opacity: 0.8;
position: relative;
right: 20%;
text-align:center;
background: #6a1b3d;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 20px;
padding: 0px;
margin: auto;
border-style: none;
padding-top: 5px;
padding: 5px 10px 0px 10px;
	
}

.valider {
    border-radius: 5px;
    border-style: none;
    background: -webkit-linear-gradient(left, #fedfdd, #625c8e, #625c8e, #fedfdd);
    font-family: Quando;
    color: white;
    font-weight: bold;
    min-width: 100px;
    min-height: 30px;
    text-color: white;
}