

.profil
{
    position:relative;
    color: black;
    margin-left:46%;
    margin-top:2%;
    font-size: 3.5em;
    font-family: Quando, serif;
}

.colorClaire {
    background-color: #6a1b3c;
}

.colorBorder{
    background-color: #2f0c1b;
    border-radius: 10px;
}

.bar{
    background-color: #471229;
    height:27vw;
    width:70vw;
    position: relative;
    left:15%;
    top:10%;
    border-radius: 60px;
    padding-top: 1px;
}
.br{
    margin-top:10%;
    margin-left:10vw;
    color:white;
    font-size:1.4em;
}

.iconeProfil
{
    position: absolute;
    left:38%;
    width:8vw;
    height:8vw;
    top: 12%;
}


