

.profil
{
    position:relative;
    color: black;
    margin-left:46%;
    margin-top:2%;
    font-size: 3.5em;
    font-family: Quando, serif;
}

.colorClaire {
    background-color: #6a1b3c;
}

.colorBorder{
    background-color: #2f0c1b;
    border-radius: 10px;
}




