
.bar
{
display: flex;
opacity: 0.8;
position: relative;
text-align:left;
background: #6a1b3d;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 20px;
width: 70%;
height: 250px;
margin: auto;
border-style: none;

}

.aff
{
opacity: 0.8;
position: relative;
text-align:left;

-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 20px;
width: 70%;
height: 250px;
margin: auto;
padding-top:3vw;
border-style: none;

}
.texte
{
	color:white;
}


.profil
{
    position:relative;
    color: black;
    margin-left:46%;
    margin-top:2%;
    font-size: 3.5em;
    font-family: Quando, serif;
}

.iconeProfil
{
    border-radius: 4px;
    width: 4%;
    position: relative;
    margin-top: 2%;
    left: 40%;
    
}
.logo
{
    position: absolute;
    top: 2%;
    left: 7%;
    width: 20%;
    
}

.boutonDeconnection
{
    position: absolute;
    top: 7%;
    left: 84%;
    width: 5%;
    
}



.rectangle
{
    display: flex;
    background-color: #6a1b3d;
    height: 37vw;
    width:80%;
    margin-left:10%;
    border-radius: 40px;
    position:relative;
    top:30%;
}

.valeurImporte
{
	margin-left:1.5em;
}

.positionModifProfil
{
	margin-top:-1em;
    margin-left: 6.7em;
}

.modifProfil
{
    border-radius: 7px;
    width: 40%;
    height: 40px;
    margin-left: 0.5%;
    background: #625c8e;
    color: white;
    font-size: 23px;
}

.image
{
    left: 7%;
    width: 5%;
    
}
.col1
{
    width: 90%;
    height: 40px;
	margin-left:1%;
}
.col2
{
	    font-size: 1.9em;
}

.boutonModifProfil
{
    border-radius:5px;
    background-color:#635c8e;
    color:white;
    background: -webkit-linear-gradient(left, #fedfdd, #625c8e, #625c8e, #fedfdd);
    box-shadow:none;
}


