
/* Titre bienvenue chez Homemate et nos capteurs*/
.titre{
    background: #2f0c1b;
    color: white;
    margin-left: 20px;
    width: 50vw;
    height: 650%;
    border-radius: 20px;
    padding-left: 30px;
}

/*Image en dessous du bienvenue*/
.titre2{
    background: #917e86;
    width: 50vw;
    height: 20vw;
    font-size: 1em;
    padding-top: 0.5px;
    text-align: left;
    margin-left: 20px;
    border-radius: 10px;
}

/*Image micro et capteur*/
.titre4{
    background: #917e86;
    width: 50vw;
    height: 20vw;
    font-size: 1em;
    padding-top: 0.5px;
    text-align: left;
    margin-left: 20px;
    overflow: auto;
    border-radius: 10px;
}

/*bloc adresse et contact*/
.titre3{
    background: #917e86;
    width: 40vw;
    height: 410px;
    margin-left: 3vw;
    border-radius: 10px;
}

/*Adresse et contact*/
.ecriture{
    font-size: 2em;
    color: white;
    text-decoration: underline;
    padding-left: 25px;
}

/*10 rue de Vanves...*/
.ecriture2{
    font-size: 1.2em;
    color: white;
    margin-left: 30px;
}

/*06... et mail de domisep*/
.ecriture3{
    font-size: 1.2em;
    color: white;
    margin-left: 70px;
}


.images2{
    width:50vw;
    height:20vw;
    border-radius:10px;
}
.images3{
    background: #917e86;
    width: 40vw;
    height: 25vw;
    border-radius: 10px;
}
.image{
    width:35vw;
    height:20vw;
    border-radius:10px;
    float:left;

}
