.titre{
    background: #2f0c1b;
    color: white;
    margin-left: 20px;
    width: 50vw;
    height: 650%;
    border-radius: 20px;
    padding-left: 30px;
}

.titre2{
    background: #917e86;
    width: 50vw;
    height: 300px;
    font-size: 1em;
    padding-top: 0.5px;
    text-align: left;
    margin-left: 20px;

    border-radius: 10px;
}

.titre3{
    background: #917e86;
    width: 38vw;
    height: 410px;
    margin-left: 5vw;
    border-radius: 10px;
}

.ecriture{
    font-size: 2.8em;
    color: white;
    text-decoration: underline;
    padding-left: 25px;
}
.ecriture2{
    font-size: 1.5em;
    color: white;
    margin-left: 30px;
}

.ecriture3{
    font-size: 1.5em;
    color: white;
    margin-left: 70px;
}
.images2{
    width:50vw;
    height:300px;
    border-radius:10px;
}
.images3{
    background: #917e86;
    width: 38vw;
    height: 410px;
    border-radius: 10px;
}
