


.titre{
	font-family: Quando;
	text-align: center;
	font-size: 3em;
    font-weight: bold;
    color: #6a1b3d;
}
.block1{
	background: #9998b2;
	display: inline-block;
	height: 38.9vh;
    width: 46vw;
    position: relative;
    left: 40px;
	opacity: 1;
	border: 6px white solid;

}
.block3{
	background: #9998b2;
	display: inline-block;
	height: 26.5vh;
	width: 30vw;
	opacity: 1;
	border: 6px white solid;
	position: relative;
    left: 40px;
	top: 10px;
}


.images
{
	height:19vw;
	width: 46vw;
}

.images3
{
	height:13vw;
	width: 30vw;
}
	