#bloc
{
	font-size:14px;
	font-weight:bold;
	color:white;
	background: #6a1b3c;
	border-radius: 20px;
	padding-top: 1px;
	padding-bottom: 1px;
	padding-left: 60px;
	padding-right: 60px;
	position:center;
	margin:auto;
	height:100%;
	width: 40%;
}

tr
{
margin-bottom: 15px;
}

input[type=text]
{
	padding: 10px 20px;
	margin: 15px 0;
	box-sizing: border-box;
	width: 200px;
	height: 30px;
}

input[type=number]
{
	width: 60px;
}

.longueur
{
	width: 150px;
}

h1
{
	text-align: center;
}

h2
{
	text-align: center;
	margin-left: 40px;
	margin-right: 72px;
	border: white solid 2px;
	border-left: none;
	border-right: none;
	border-top: none;
	font-family: Quando, serif;
}

.date
{
	margin-left: 35px;
	margin-right: 100px;
}

.statut
{
	margin-top: 20px;
	margin-left: 35px;
}

.log, .numRue, .route, .ville, .typeHab, .nbPiece
{
	margin-left: 35px;
}

.etage, .codePostal
{
	margin-left: 70px;
}

.typeRue
{
	position: relative;
	right: 7.5vw;
}

.bis
{
	position: relative;
	right: 3vw;
}
.surface
{
	margin-right: 70px;
}


#cgu{
	position: relative;
	left: 30px;
}

.CGU
{
	font-size : 1.2vw;
}


.Valider
{
	color:white;
	border:none;
	justify-content: center;
	align-items: center;
	padding: 0 20px;
	min-width: 150px;
	height: 40px;
	background: -webkit-linear-gradient(left, #fedfdd, #625c8e, #625c8e, #fedfdd);
	box-shadow: none;
	border-radius: 10px 10px 10px 10px;

	font-family: Quando, serif;
	font-size: 2vw;
	color: white;
}
a
{
	text-decoration: none;
}

a:hover
{
	text-decoration: underline;
	color:green;
}

a:visited
{
	color:none;
}


#nonCoche, #nonAge {
	font-family:quando;
	font-weight:bold;
	color:red;
	text-align:center;
	font-size:0.8em;
}

