body
{
	font-family: Raleway-SemiBold;
	background-image: url("../images/BLUMYS.png");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
}

@font-face{
	font-family: 'Quando';
	src: url('quando/Quando-Regular.ttf') ;
}


#blocs
{
	display: flex;
	position: absolute;
	top: 80px;
	left: 20%;
}

.decoration
{
	background-color: #5c5684;
	color:white;
	font-size:2em;
	width:450px;
	height:50px;
	font-weight: bold;
	text-align: center;
	font-family: Quando;
	padding-top: 15px;
	border-radius:20px;
	border: 10px solid white;
	list-style-type:none;
	margin-bottom: 10px; 
}
#blue
{
	border-color: blue;
}
.decoliste
{
	background-color: #5c5684;
	color:white;
	font-size:1.2em;
	font-weight: bold;
	text-align: center;
	font-family: Quando;
	width:20vw;
	height:3vw;
	border-radius:20px;
	border: 3px solid white;
	list-style-type:none;
	margin-bottom: 1vw; 
	padding-top: 1vw;
}

.decalage
{
	padding-left: 10vw;
}
.position
{
	position:relative;
	left: 25vw;
	bottom: 2vw;
}

.profil
{
	position: relative;
	left:80px;
	height: 10vw;
	width:10vw;
}
.homemate
{
	height: 10vw;
	width: 20vw;
}
.tete
{
	position: relative;
	left:180px;
	top:-80px;
	margin-bottom: 20%;
}

.bloc2
{
	background-color: #471229;
	height:30vw;
	width:80vw;
	position: relative;
	top: 350px;
	left:10%;
	border-radius: 60px;
	padding-top: 1px;
	color:white;
	font-size:1.2em;
	font-weight: bold;
	text-align: center;
	font-family: Quando;
	margin-bottom: 10px; 
	overflow: auto;
}
.bouton
{
	border-radius: 5px;
	border-style: none;
	background: -webkit-linear-gradient(left, #fedfdd, #625c8e, #625c8e, #fedfdd);
	font-family: Quando;
	color: white;
	font-weight: bold;
	min-width: 100px;
	min-height: 30px;
}

td
{
	border:2px solid white ;
	font-size:1.5em;
	font-weight: bold;
	font-family: Quando;
	color:white;

}
p
{
	text-align: center;
	font-size:2em;
	font-weight: bold;
	font-family: Quando;
	color:white;
}

input[type=text]
{
	padding: 10px 20px;
    box-sizing: border-box;
    width: 1000px;
	border-radius:5px;
}




a
{
	text-decoration: none;
	color:white;
}
a:hover
{
	text-decoration: underline;
	color:blue;
}
a:visited
{
	color:none;
}
