body
{
	font-family: Raleway-SemiBold;
	background-image: url("../images/BLUMYS.png");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
}

@font-face{
	font-family: 'Quando';
	src: url('quando/Quando-Regular.ttf') ;
}

#blocs
{
	display: flex;
	position: absolute;
	top:10vw;
	left:20vw;
}

.page
{
	width:100vw;
	position:absolute;
	left:-15vw;
}

.decoration
{
	background-color: #5c5684;
	color:white;
	font-size:2vw;
	width:28vw;
	height:2.5vw;
	font-weight: bold;
	text-align: center;
	font-family: Quando;
	padding-top: 1vh;
	border-radius:20px;
	border: 10px solid white;
	list-style-type:none;
	margin-bottom: 1vh;
}
#blue
{
	border-color: blue;
}

.deco2
{
	background-color: #9997b1;
	font-weight: bold;
	text-align: center;
	font-family: Quando;
	border-radius:20px;
	list-style-type:none;
	width: 30vw;
	margin:auto;
	padding-top: 1vw;
	padding-bottom: 1vw;
	font-size:1.4em;
	margin-bottom: 2vw;
	margin-top: 2vw;


}
.homemate
{
	height: 10vw;
	width: 20vw;
}


.profil
{
	position: relative;
	left:3vw;
	height: 10vw;
	width:10vw;
}
.tete
{
	position: relative;
	left:5vw;
	top:-4vw;
	margin-bottom: 20%;
}
.bloc2
{
	background-color: #471229;
	height:27vw;
	width:70vw;
	position: relative;
	top: 15vw;
	left:15%;
	border-radius: 60px;
	padding-top: 1px;
}
td
{
	border:2px solid white ;
	font-size:1.5em;
	font-weight: bold;
	font-family: Quando;
	color:white;

}
p
{
	text-align: center;
	font-size:2em;
	font-weight: bold;
	font-family: Quando;
	color:white;
}

input[type=text]
{
	padding: 10px 20px;
    box-sizing: border-box;
    width: 1000px;
}

.menu
{
	background-color: #82354f;
	position:relative;
	top:13%;
	height:20vw;
	width:50vw;
	margin:auto;
	font-size: 1vw;
	border-radius: 20px;
	padding-top: 1vw;
}

a
{
	text-decoration: none;
	color:white;
}

a:hover
{
	text-decoration: underline;
	color:blue;
}

a:visited
{
	color:none;
}
