body
{
	font-family: Raleway-SemiBold;
	background-image: url("Images/BLUMYS.png");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
}

@font-face{
	font-family: 'Quando';
	src: url('quando/Quando-Regular.ttf') ;
}
h1
{
	text-align: center;
}
.titre
{
	font-size:2em;
	text-align: center;
	font-weight: bold;
	color:black;
}
form
{
	font-family: 'Quando';
	color: white;
	font-size:1.2em;
}
.bigbloc
{
	background-color: #471229;
	height:700px;
	width:1400px;
	position: relative;
	margin: auto;
	border-radius: 60px;
	padding-top:  1px;
	display: flex;
}
.bloc1
{
	padding-left: 3vw;
	height:35vw;
	width:35vw;
}
.bloc2
{
	height:35vw;
	width:35vw;
	overflow:auto;
}
.uploadImage
{
	color:white;
	font-family: Quando;

}
input[type=text]
{
	border-radius: 5px;
}
input[type=file]
{
	border-radius: 20px;
}

img
{
	height:15vw;
	width:25vw;
}

select
{
	width:7vw;
	border-radius: 5px;	
	height:1.5vw;
}