

h1
{
	text-align:center;
}

.question
{
	background-color: #6a1b3d;
	margin:auto;
	padding-left:2.5em;
	padding-right:2.5em;
	padding-top:2.5em;
	padding-bottom:2.5em;
	border-radius:10px;
	width:45vw;
	color:white;
	font-size:1em;
}

.tout
{
	font-size:1.5em;
}

.valider
{
	border-radius: 5px;
	border-style: none;
	font-family: Quando;
	font-weight: bold;
	min-width: 100px;

}
.color{
	color:gray;
}