body
{
	font-family: Raleway-SemiBold;
	background-image: url("../images/BLUMYS.png");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
}

@font-face{
	font-family: 'Quando';
	src: url('quando/Quando-Regular.ttf') ;
}


#blocs
{
	display: flex;
	position: absolute;
	top: 80px;
	left: 20%;
}

.decoration
{
	background-color: #5c5684;
	color:white;
	font-size:2em;
	width:450px;
	height:50px;
	font-weight: bold;
	text-align: center;
	font-family: Quando;
	padding-top: 15px;
	border-radius:20px;
	
	list-style-type:none;
	margin-bottom: 10px; 
}
#blue
{
	border-color: blue;
}


.profil
{
	position: relative;
	left:80px;
	height: 150px;
	width:150px;
}
.homemate
{
	height: 200px;
	width: 350px;
}
.tete
{
	position: relative;
	left:180px;
	top:-80px;
	margin-bottom: 20%;
}

.bloc2
{
	background-color: #471229;
	height:500px;
	width:1300px;
	position: relative;
	top: 350px;
	left:15%;
	border-radius: 60px;
	padding-top: 1px;
}


td
{
	border:2px solid white ;
	font-size:1.5em;
	font-weight: bold;
	font-family: Quando;
	color:white;

}
p
{
	text-align: center;
	font-size:2em;
	font-weight: bold;
	font-family: Quando;
	color:white;
}

input[type=text]
{
	padding: 10px 20px;
    box-sizing: border-box;
    width: 1000px;
}




a
{
	text-decoration: none;
	color:white;
}
a:hover
{
	text-decoration: underline;
	color:blue;
}
a:visited
{
	color:none;
}
